{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8 p-3">
            <h1 class="pl-3">Banner de Spotify</h1>
            <p class="pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias provident cumque ratione laboriosam sequi! Quam molestias in eaque asperiores nesciunt officiis officia magnam nobis, vitae non maiores delectus, cupiditate voluptate.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/banner-ico.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}